*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#title{
    margin-top: 3%;
    text-align: center;
}
#store {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 3%;
    
}
#img1{
    height: 600px;
    width: 80%;margin: auto;
}
#img2{
    height: 600px;
    width: 80%;margin: auto;
}
#img1 img{
    width: 100%;
}

#img2 img{
    width: 100%;
}
#w{
    height: 350px;
    width: 30%;
    margin: auto;
}

#w{
    text-align: center;
}
