*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 500;
    font-size: 13px;
    line-height: 18px; */
}

body img,p,h1,h2,h3,h4,h5,h6:hover{
    cursor: pointer;
}

#box_a, #box_d{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 94%;
    margin: auto;
    text-align: center;
    gap: 2%;
    margin-top: 6%;
}
#box_a1 > img, #box_d1 > img, #box_b1 > img, #box_c1 > img{
    width:100%;
    height: auto;
}
#box_a1 > button, #box_d1 > button, #box_b1 > button, #box_c1 > button{
    width: auto;
    height: 43px;
    background-color: white;
    border: 1px solid black;
    padding: 2% 4% 2% 4%;
    cursor: pointer;
    border-radius: 2px;
}
#box_b{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:2%;
    width:94%;
    background-color: rgb(242, 242, 242);
    margin-top: 5%;
    padding: 2%;
}
#box_b1{
    margin: auto;
    padding: 10%;
    background-color: white;
    text-align: center;
    font-size: large;
}
#box_b11{
    margin: auto;
    padding: 10%;
    background-color: rgb(242, 242, 242);
    text-align: center;
}
#box_b11 > a{
    cursor: pointer;
    color: black;
}
#box_b11 > h1{
    font-size:xx-large;
}
#box_c{
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    width:94%;
    margin: auto;
    margin-top: 3%;
    gap:2%;
    text-align: center;
    border-bottom: 0.5px solid rgb(212, 209, 209);
    padding-bottom: 70px;
}
#box_a1 > h3, #box_c1 > h3, #box_d1 > h3{
    font-size: 16px;
    letter-spacing: 1px;
}
@media all and (min-width:401px) and (max-width:720px){
    #box_a, #box_c, #box_d{
        grid-template-columns: 100%;
    }
    #box_b{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width:80px) and (max-width:400px){
    #box_a, #box_c, #box_d{
        grid-template-columns: 100%;
    }
    #box_b{
        grid-template-columns: repeat(1, 1fr);
    }
}