*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#entermobile{
    margin: auto;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}

#mobile{
    border:1px solid black;
    height:40px;
    width:250px;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;
}

#submit{
    margin-top: 20px;
    padding:5px 15px 5px 15px;
    font-size: 18px;
    color: white;
    background-color: crimson;
    cursor: pointer;
    border:1px solid crimson;
    border-radius: 8px;
}

#entermob{
    margin-top: 5px;
}

#otp{
    margin: auto;
    text-align: center;
}
#digit1, #digit2, #digit3, #digit4{
    width:50px;
    height: 50px;
    border:1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: 22px;
}

#sub{
    margin-top: 20px;
    padding:5px 10px 5px 10px;
    font-size: 18px;
    color:white;
    background-color: rgb(25, 177, 236);
    border:1px solid rgb(25, 177, 236);
    border-radius: 8px;
    cursor: pointer;
}

#loading{
    width:80%;
}

#counter{
    margin-top: 30px;
    font-size: 18px;
}

#resend{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
    font-size: 18px;
}

#done{
    position: absolute;
    transform: translate(-50%, -50%);
    top:90%;
    left:50%;
}

#tohome{
    padding:10px 15px 10px 15px;
    background-color: crimson;
    color: white;
    border-radius: 12px;
    font-weight:500;
    font-size: 18px;
    cursor: pointer;
}
