*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main {
    display: grid;
    grid-template-columns: 40% 60% ;
    width:80%;
    margin-left: 5%;
    margin-top: 1%;
    padding: 2%;
}
#details{
    text-align: center;
    height: auto;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

#images img{
    width: 390px;
    height: 583px;
}

.addToBag {
    width: 60%;
    text-align: center;
    margin: auto;
    height: 40px;
    
}
.wishListp {
    width: 60%;
    height: 40px;
    text-align: center;
    margin: auto;
    border: 1px solid grey;
    margin-top: 4%;
}
#product_hr{
    margin-top: 4%;
    width: 94%;
}