*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#SignUp{
    background:url("https://www.theoutnet.com/assets/ton-background-images/high-res.jpg");
    background-size:cover;
    background-position-y: 12%;
    width:91.5%;
    margin:auto;
    margin-top: 36px;
    /* height: 750px; */
    border: 1px solid white;
}


#SignUP_Form{
    width:460px;
    /* height:570px; */
    margin:90px auto;
    padding-bottom: 10px;
    background-color: white;
}

#SignUP_Form>div:first-child{
    height:100px;
    padding-left: 38px;
    padding-top:22px;
    font-size: 17px;
    box-sizing: border-box;
    border-bottom: 2px solid #929292;
}

#SignUP_Form>div:nth-child(2){
    padding:10px 32px;
}

#SignUP_Form>div:nth-child(4){
    padding:0px 32px;
}

#first_name{
  padding:0px 32px;
}

#last_name{
  padding:0px 32px;
}

#Subscription{
  padding:10px 32px;
}

#Subscription>p{
  margin:18px 0px;
  margin-top:40px;
}



#SignUP_Form>div:nth-child(3){
    padding:10px 30px;
    margin-top:40px;
}

#SignUP_Form>div:nth-child(2)>p,:nth-child(4)>p{
    font-size: 14px;
    margin:16px 0px 6px;
}

#first_name>p{
  font-size: 14px;
  margin:30px 0px 6px;
}

#last_name>p{
  font-size: 14px;
  margin:30px 0px 6px;
}


#SignUP_Form>div:nth-child(2)>input,:nth-child(4)>input{
    width:100%;
    height: 46px;
    box-sizing: border-box;
    padding-left: 16px;
    border: 1px solid #d0cccc;
}

#first_name>input{
  width:100%;
  height: 46px;
  box-sizing: border-box;
  padding-left: 16px;
  border: 1px solid #d0cccc;
}


#last_name>input{
  width:100%;
  height: 46px;
  box-sizing: border-box;
  padding-left: 16px;
  border: 1px solid #d0cccc;
}


.Confirmation {
    display: block;
    position: relative;
    padding-left: 44px;
    padding-top: 5px;
    font-weight: lighter;
    opacity: 0.999;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .Confirmation input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .Check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #d0cccc;
  }

  .Confirmation input:checked ~ .Check {
    background-color: black;
  }

  .Check:after {
    content: "";
    position: absolute;
    display: none;
  }

  .Confirmation input:checked ~ .Check:after {
    display: block;
  }

  .Confirmation .Check:after {
    top: 6.5px;
    left: 6.5px;
    width: 12.4px;
    height: 12.4px;
    border-radius: 50%;
    background: white;
  }


  #Sign_in_button{
      width:85.6%;
      margin:auto;
      margin-top: 0px;
      border: 1px solid white;
      text-align: center;
      background-color: black;
      color: white;     
  }

#Sign_in_button:hover{
    cursor: pointer;;
    background-color: #d8d3d3;
}

#SignUP_Form>p{
    text-decoration: underline;
    margin-left: 32px;
    margin-right: 30px;
    font-size: 14px;
    opacity: 0.8;
}

#Pass+#Pass_description{
  text-decoration: none;
  margin-top: 5px;
}

#description,#mobile{
  display: none;
}
